<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBmgczGT30ve2kO57I0FbCKZQL8AsHJSQY</string>
	<key>GCM_SENDER_ID</key>
	<string>195504778355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DesignScape.DesignScape</string>
	<key>PROJECT_ID</key>
	<string>designscape-5d27c</string>
	<key>STORAGE_BUCKET</key>
	<string>designscape-5d27c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195504778355:ios:8f313ca920b65ab7450e06</string>
</dict>
</plist>